<footer>
    <div class="wrap">
        <div class="foot-menu">
            <h2 class="seocommunity">SeoCommunity:</h2>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Форум</a></li>
                <li><a href="#">Партнерки</a></li>
                <li><a href="#">Обучение</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Личный профиль</a></li>
                <li><a href="#">Словарь</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Справка</a></li>
                <li><a href="#">Софт</a></li>
            </ul>
        </div>
        <div class="foot-auth">
            <h2 class="auth-h">Войти на сайт:</h2>
            <input placeholder="E-mail" name="username" type="username" maxlength="255">
            <input placeholder="Пароль" name="password" type="password" maxlength="255">
            <input type="submit" class="submit enterbutton" value="Войти">
            <a href="#">Забыли пароль?</a>
        </div>
        <div class="foot-about">
            <h2 class="about-h">О сервисе</h2>
            <p>SEMrush создан SEO/SEM профи для SEO/SEM профи. Мы обладаем знаниями, опытом и данными, которые помогут Вам вывести Ваши проекты на новый уровень. Мы обрабатываем огромный объем SERP данных для более чем 95-и миллионов ключевых слов и 45-и миллионов доменов, в число которых входят копии рекламных объявлений и их позиции, позиции в поисковой выдаче для доменов и посадочных URL, количество поисковых запросов, цена за клик, конкуренция, количество результатов в выдаче и многое-многое другое.</p>
        </div>
        <div class="clear"></div>
    </div>
</footer>
<div class="copyrights">&copy; 2013 - SeoCommunity. Все права защищены.</div>
</body>
</html>