@{
    ViewBag.Title = "allwords";
}

@Html.Partial("Header")


<div class="wrap">

    <div id="center">
        <section><h1>Словарь</section></h1> <!-- Заголовок раздела -->
        <!--<aside>

        </aside>-->
        <article class="slovar">
            <!-- Страница словарь -->
            <div class="search-old margin20">
                <input class="searchbox" type="text" size="150" placeholder="Поиск: введите слово">
                <input class="submit button red searchbutton right" type="submit" value="Найти">
            </div>
            <h2>A B C D E F G H I J K L M N P R S T U W X Y А Б В Г Д З И К Л М Н О П Р С Т У Ф Ц Ч Ш Ю Я</h2>
            <div class="slovar-main">
                <ul>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>
                    <li><a href="#">АГС</a></li>
                    <li><a href="#">Абуза</a></li>
                    <li><a href="#">Авторитетность</a></li>
                    <li><a href="#">Адверт</a></li>
                    <li><a href="#">Аддурилка</a></li>
                    <li><a href="#">Акцептор</a></li>
                    <li><a href="#">Алгоритмы ПС</a></li>
                    <li><a href="#">Алиас</a></li>
                    <li><a href="#">Альт теги</a></li>
                    <li><a href="#">Анкор</a></li>

                </ul>
            </div>

        </article>
        <div class="clear"></div>
    </div>


</div>




@Html.Partial("Footer")
