@{
    ViewBag.Title = "one word";
}

@Html.Partial("Header")


<div class="wrap">

    <div id="center">
        <section><h1>Словарь</section></h1> <!-- Заголовок раздела -->
        <aside class="old-as">
            <div class="search-old margin20">
                <input class="searchbox" type="text" size="150" placeholder="Введите слово">
                <input class="submit button red searchbutton right" type="submit" value="">
            </div>
            <div class="slovar-list">
                <ul>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                    <li><a href="#">Pot Odds</a></li>
                </ul>
            </div>
        </aside>
        <article class="slovar inner content">
            <!-- Страница slovar, вложенная, текстовая -->
            <h2>Pot Odds (англ.)</h2>
            <p class="intro">Pot Odds (”пот-оддсы”)  —  это структурированная информация об однотипных или приблизительно однотипных явлениях, как, например, каталог сайтов. В каталоге сайтов вся собранная о различных сайтах информация подается в виде разбитых по определенным категориям ссылок, то есть по сути – это собрание ссылок.</p>

            <h4>Пример:</h4>
            <p>Составление каталога в Интернете – явление перманентное, так как формат позволяет постоянно добавлять туда новые данные. То есть это не застывший набор данных <a href="#">Pot Odds</a>, а очень гибкий, постоянно изменяющийся. Одни сайты добавляются, другие – уходят.</p>

            <h4>Значение:</h4>
            <p>Каталог в Интернете сам представляет собой сайт или веб-страницу, на котором расположена база данных, сгруппированная по определенным <a href="#">Pot Odds</a> признакам. Чаще всего – по темам. В подтемных разделах сайты классифицируются по алфавиту, дате регистрации. Основанием для классификации может также стать индекс цитирования. Каждая поисковая система имеет свою службу-каталог. Pot Odds для ускорения индексации владелец сайта вносит его в список вручную. В каталогах поисковых систем сайты Яндекс и Google размещаются согласно величине ТИЦ или PR.</p>

            <p>Обилие каталогов в Интернете Pot Odds заставляет относиться к ним с осторожностью. С другой стороны, внесение сайта в каталог означает размещение действующей ссылки на него. Если Pot Odds это развитый раскрученный сайт-каталог, то ссылка с него будет довольно весомой.</p>

            <p>Каталоги, существующие в Интернете, также подлежат определенной классификации. Например, общие, тематические, специализированные. Могут быть <a href="#">Pot Odds</a> глобальными, то есть охватывающими всю сеть. Самый известный, самый весомый и авторитетный – DMOZ, ведущий существование с 1998 года и содержащий наиболее полную информацию Pot Odds. Этот каталог многоязычный, для каждого языка имеет свою базу. Все сайты вносятся в него вручную, специальными редакторами после обработки заявки Pot Odds. Регистрация в DMOZ бесплатная, как и во многих других каталогах. Но существуют и платные каталоги. Кроме того, многие коммерческие интернет-проекты регистрируются в каталогах на платной основе.</p>


            <div class="tags">
                <p>Родственные темы:</p>
                <div>
                    <a href="#">SEO-специалисты</a>
                    <a href="#">Интернет</a>
                    <a href="#">Веб</a>
                    <a href="#">Разработчики</a>
                    <a href="#">Интернет</a>
                    <a href="#">SEO</a>
                    <a href="#">Веб</a>
                </div>
            </div>

        </article>
        <div class="clear"></div>
    </div>


</div>



@Html.Partial("Footer")


